# **Homework #1**

In [1]:
import numpy as np
import pandas as pd

##Question 1

What's the version of Pandas that you installed?

You can get the version information using the __version__ field:

In [2]:
pd.__version__

'1.5.3'

##Getting Data

In [8]:
data = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv")

In [9]:
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

##Question 2

How many columns are in the dataset?

In [10]:
data.shape

(20640, 10)

In [11]:
data.shape[1]

10

##Question 3

Which columns in the dataset have missing values?

In [14]:
data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

Answer : Total_bedrooms

##Question 4

How many unique values does the ocean_proximity column have?

In [20]:
print(data['ocean_proximity'].unique())
print(data.ocean_proximity.unique())

['NEAR BAY' '<1H OCEAN' 'INLAND' 'NEAR OCEAN' 'ISLAND']
['NEAR BAY' '<1H OCEAN' 'INLAND' 'NEAR OCEAN' 'ISLAND']

##Question 5

What's the average value of the median_house_value for the houses located near the bay?

In [49]:
data['median_house_value'].value_counts()

500001.0    965
137500.0    122
162500.0    117
112500.0    103
187500.0     93
           ...
359200.0      1
54900.0       1
377600.0      1
81200.0       1
47000.0       1
Name: median_house_value, Length: 3842, dtype: int64

In [52]:
bay_area_houses = data[data['ocean_proximity'] == 'NEAR BAY']
bay_area_houses

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
19067,-122.45,38.28,20.0,3306.0,503.0,1374.0,460.0,5.7984,297600.0,NEAR BAY
19068,-122.47,38.29,14.0,3732.0,846.0,1277.0,775.0,2.5658,208000.0,NEAR BAY
19069,-122.45,38.27,25.0,5024.0,881.0,1994.0,838.0,4.2237,262300.0,NEAR BAY
19077,-122.49,38.27,8.0,5092.0,988.0,1657.0,936.0,3.5625,213200.0,NEAR BAY
19104,-122.51,38.17,8.0,5875.0,1115.0,2808.0,1029.0,3.6392,246300.0,NEAR BAY

In [54]:
average_median_house_value = bay_area_houses['median_house_value'].mean()

In [56]:
print(f"Average Median House Value for Houses Near the Bay: ${average_median_house_value:.2f}")

Average Median House Value for Houses Near the Bay: $259212.31

In [57]:
##SOLUTION 2
bay_area_houses2 = data[data['ocean_proximity'] == 'NEAR BAY']["median_house_value"].mean()
bay_area_houses2

259212.31179039303

In [58]:
print(f"Average Median House Value for Houses Near the Bay: ${bay_area_houses2:.2f}")

Average Median House Value for Houses Near the Bay: $259212.31

##QUESTION 6



Now, calculate the average of total_bedrooms again.
Has it changed?

1.   Calculate the average of total_bedrooms column in the dataset.
2.   Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
3.  Now, calculate the average of total_bedrooms again.
Has it changed?

In [59]:
data['total_bedrooms'].value_counts()

280.0     55
331.0     51
345.0     50
343.0     49
393.0     49
          ..
2961.0     1
1915.0     1
1215.0     1
3298.0     1
1052.0     1
Name: total_bedrooms, Length: 1923, dtype: int64

In [68]:
initial_average_total_bedrooms = data['total_bedrooms'].mean()
print(f"Initial Average of total_bedrooms: {initial_average_total_bedrooms:.3f}")

Initial Average of total_bedrooms: 537.871

In [63]:
data['total_bedrooms'].fillna(initial_average_total_bedrooms, inplace=True)

In [69]:
average_total_bedrooms_after_fillna = data['total_bedrooms'].mean()
print(f"Average of total_bedrooms after filling missing values: {average_total_bedrooms_after_fillna:.3f}")

Average of total_bedrooms after filling missing values: 537.871

##QUESTION 7

1. Select all the options located on islands.
2. Select only columns housing_median_age, total_rooms, total_bedrooms.
3. Get the underlying NumPy array. Let's call it X.
4. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
5. Compute the inverse of XTX.
6. Create an array y with values [950, 1300, 800, 1000, 1300].
7. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
8. What's the value of the last element of w?

In [75]:
islands_df = data[data['ocean_proximity'] == 'ISLAND']
islands_df = islands_df[['housing_median_age', 'total_rooms','total_bedrooms']]
islands_df = islands_df.drop_duplicates()
islands_df

      housing_median_age  total_rooms  total_bedrooms
8314                27.0       1675.0           521.0
8315                52.0       2359.0           591.0
8316                52.0       2127.0           512.0
8317                52.0        996.0           264.0
8318                29.0        716.0           214.0

In [76]:
X = islands_df.to_numpy()
XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 9.19403586e-04, -3.66412216e-05,  5.43072261e-05],
       [-3.66412216e-05,  8.23303633e-06, -2.77534485e-05],
       [ 5.43072261e-05, -2.77534485e-05,  1.00891325e-04]])

In [77]:
y = np.array([950, 1300, 800, 1000, 1300])

In [78]:
w = (XTX_inv @ X.T) @ y

In [79]:
w[0]

23.123309612152052